---
layout: default
---
<div class="flex flex-row flex-wrap vh-100">
  <div class="flex-half order-0 bg-blue">
    {% include nav.html %}
  </div>
  <div class="flex-half order-1 bg-green">

    {{ content }}
    
  </div>
</div>



<!-- <div style="display:flex;flex-flow: row wrap">
     <header style="flex:1 100%">Header</header>
     <article style="flex: 2 0px;order:2">
     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
     </article>
     <aside style="flex: 1 auto;order: 1">Aside 1</aside>
     <aside style="flex: 1 auto;order: 3">Aside 2</aside>
     <footer style="flex: 1 100%;order: 4">Footer</footer>
     </div> -->
